*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --bg-color: #BFDBF7;
    --box-bg: #fff;
    --box-text: #A31621;
    --btn-bg: #000000;
    --btn-text: #fff;
}

body{
    background-color: var(--bg-color);  
    text-align: center;
}
.container{
    height: 70vh;
    align-items: center;
    justify-content: center;
    display: flex;
}
.game{
    height: 60vmin;
    width: 60vmin;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap:1.5vmin;
}
.box{
    width: 18vmin;
    height:18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0 ,0.3);
    font-size: 8vmin;
    color: var(--box-text);
    background-color: var(--box-bg);
}
#reset-game{
    width: 10rem;
    padding: 1rem;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: var(--btn-bg);
    color: var(--btn-text);
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    margin-bottom: 8rem;
}
#new-game{
    width: 10rem;
    padding: 1rem;
    text-align: center;
    background-color: var(--btn-bg);
    color: var(--btn-text);
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    /* margin-bottom: 8rem; */
}

#msg{
    color: black;
    font-size: 4vmin;
}

.hide{
    display: none;
}

.msg-container{
    height:110vmin;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap:1.5rem;
}
